body {
  background-color: #303030;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.color0 {
  color: #1F6866
}

.color1 {
  color: #599895
}

.color2 {
  color: #347E7B
}

.color3 {
  color: #0B5451
}

.color4 {
  color: #003937
}

header,
main,
footer {
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  padding: 20px 0px;
  width: 1000px;

  background-image: linear-gradient(#003937, #347E7B);
}

canvas {
  background-color: rgb(209, 216, 223);
}

main {

  width: 1000px;
}

.app {
  float: left;
  width: 650px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #347E7B;
}

nav {
  float: right;
  background-color: #347E7B;
  height: 600px;
  width: 350px;
  display: flex;
  justify-content: center;
}

footer {
  clear: both;
  height: 50px;
  width: 1000px;
  background-image: linear-gradient(#347E7B, #003937);
  text-align: center;
}

h4 {
  padding: 15px;
}

.button,
.button:visited {
  margin-top: 40px;
  background-color: #0B5451;
  border: none;
  padding: 15px;
  border-radius: 15px;
  color: white;
  height: 50px;
}

.button:hover {
  background-color: #189793;

}

.button:active {
  background-color: #0B5451;
}